.add {
  margin: 10px;
  border: 1px solid;
  border-radius: 8px;
}

input {
  width: 100%;
}

tr {
  border: 1px solid black;
}

table {
  margin: 10px;
  border: 1px solid black;
  width: 60%;
  text-align: center;
}
