img {
  width: 40px;
  height: 40px;
}

.add {
  margin: 10px;
  border: 1px solid;
  border-radius: 8px;
}

input {
  width: 100%;
}

tr {
  border: 1px solid black;
}

table {
  padding: 10px;
  border: 1px solid #cccccc;
  width: 60%;
  text-align: center;
}
